# Produtividade

In [7]:
import pandas as pd
import math as mt

In [2]:
dados_pro = pd.read_csv('produtividade_soja.csv')

In [4]:
dados_pro.head()

,nivel,codigo_ibge,name,2004,2005,2006,2007,2008,2009,2010,2011,2012,2013,2014,2015,2016,2017
0,MU,4100103,Abatiá,2600.0,1750.0,2100.0,2600.0,2600.0,2080.0,2590.0,3350.0,2320.0,3100.0,1460.0,2640.0,2760.0,3480.0
1,MU,4100459,Altamira do Paraná,3100.0,2460.0,2950.0,2950.0,2749.0,2749.0,3250.0,3200.0,2197.0,3223.0,3471.0,3099.0,2871.0,3818.0
2,MU,4100608,Alto Paraná,1487.0,1365.0,1734.0,2727.0,2400.0,1620.0,2899.0,2899.0,1737.0,2880.0,2000.0,1800.0,2221.0,2980.0
3,MU,4100707,Alto Piquiri,2300.0,2300.0,2700.0,3193.0,2701.0,2097.0,3130.0,3310.0,2000.0,3000.0,3192.0,3488.0,2589.0,3700.0
4,MU,4100509,Altônia,1050.0,1800.0,1255.0,2355.0,2600.0,1300.0,3000.0,2773.0,815.0,2137.0,1800.0,2455.0,2780.0,2900.0

In [9]:
dados_pro.describe()

,codigo_ibge,2004,2005,2006,2007,2008,2009,2010,2011,2012,2013,2014,2015,2016,2017
count,3.490000e+02,349.000000,349.000000,349.000000,349.000000,349.000000,349.000000,349.000000,349.000000,349.000000,349.000000,349.000000,349.000000,349.000000,349.000000
mean,4.114382e+06,2443.243553,2137.154728,2324.601719,2878.985673,2874.888252,2302.541547,3060.762178,3332.538682,2389.538682,3223.226361,2762.936963,3200.146132,3032.779370,3534.773639
std,8.310503e+03,491.598823,486.013397,492.378655,385.050821,353.336302,560.413206,262.148776,240.256381,601.327824,364.585070,634.056863,385.446910,441.840183,418.013010
min,4.100103e+06,1000.000000,900.000000,950.000000,1200.000000,1599.000000,146.000000,1934.000000,2400.000000,580.000000,2000.000000,1050.000000,1396.000000,1360.000000,1700.000000
25%,4.107256e+06,2200.000000,1823.000000,1992.000000,2700.000000,2680.000000,1925.000000,2924.000000,3200.000000,1994.000000,3014.000000,2334.000000,3000.000000,2800.000000,3400.000000
50%,4.114203e+06,2500.000000,2199.000000,2400.000000,2900.000000,2900.000000,2342.000000,3099.000000,3350.000000,2479.000000,3298.000000,2900.000000,3248.000000,3088.000000,3600.000000
75%,4.121604e+06,2750.000000,2500.000000,2699.000000,3075.000000,3100.000000,2700.000000,3200.000000,3486.000000,2820.000000,3455.000000,3209.000000,3450.000000,3350.000000,3800.000000
max,4.128708e+06,3600.000000,3400.000000,3470.000000,6988.000000,4300.000000,3471.000000,3741.000000,3800.000000,3572.000000,4000.000000,4031.000000,4008.000000,4159.000000,4515.000000

In [12]:
dados_pro.mean() # fazeer a média por linhas

C:\Users\user\AppData\Local\Temp\ipykernel_8844\414803664.py:1: FutureWarning: The default value of numeric_only in DataFrame.mean is deprecated. In a future version, it will default to False. In addition, specifying 'numeric_only=None' is deprecated. Select only valid columns or specify the value of numeric_only to silence this warning.
  dados_pro.mean()

codigo_ibge    4.114382e+06
2004           2.443244e+03
2005           2.137155e+03
2006           2.324602e+03
2007           2.878986e+03
2008           2.874888e+03
2009           2.302542e+03
2010           3.060762e+03
2011           3.332539e+03
2012           2.389539e+03
2013           3.223226e+03
2014           2.762937e+03
2015           3.200146e+03
2016           3.032779e+03
2017           3.534774e+03
dtype: float64

In [14]:
def mediaslinhas(x):
    x = x.mean( left_index=True, right_index=True, how='inner')

In [15]:
mediaslinhas(dados_pro['2004'])

TypeError: mean() got an unexpected keyword argument 'left_index'